.skillsSection {
  position: relative;
  z-index: -1;
  border-radius: 3%;
  padding: 40px 0;
  background-color: #f2f2f2;
}

.skillsSection h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 150px;
}

.skill img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.skill p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
