.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  max-width: 600px;
  margin-bottom: 40px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.inputField {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.textareaField {
  height: 200px;
}

.submitButton {
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding:1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #21867a;
}

@media (max-width: 450px) {
  .form {
  
  width: 70%;
  }
}

.inputField:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(42, 157, 143, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}