.workSection {
  border-radius: 3%;
  margin: 40px 0;
  padding: 20px 0;
  background-color: #f2f2f2;
}

.workSection h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.portfolioWorks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 300px;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.project:hover .projectInfo {
  transform: translateY(-100%);
}

.button {
  margin: 10px;
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #21867a;
}

.buttonMore {
  margin: 50px;
  text-align: center;
}

@media (max-width: 608px) {
  .projectInfo {
    transform: translateY(-100%);
  }
}
